 {% extends 'base.html' %} {% block title %} فروشگاه {% endblock %} {% block content %} {% load static %} {% include '_partials/_alerts.html' %}

<header class="bg-gradient" id="home">
    <div class="container mt-5">
    </div>
</header>



<div class="d-flex justify-content-center align-content-centers">
    <h2>فروشگاه انجیر</h2>
</div>

<hr/>




<div class="container">
    <div class="row">

        <div class="col-4 mt-3">
            <div class="card " style="width: 18rem;">
                <div class="over-Hide">
                    <img src="./images/test.jpg" class="card-img-top animateImage" alt="Image not found">
                </div>
                <div class="card-body">
                    <h6 class="card-title">انجیر خشک </h6>
                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="">
                        <p class="m-0">تخفیف 7% : <span class="line-price text-danger">50000 تومان</span></p>
                        <p>قیمت : <span class="text-success">46500 تومان</span></p>
                        <a href="#" class="btn btn-primary">افزودن به سبد خرید</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card " style="width: 18rem;">
                <div class="over-Hide">
                    <img src="./images/test.jpg" class="card-img-top animateImage" alt="Image not found">
                </div>
                <div class="card-body">
                    <h6 class="card-title">انجیر خشک </h6>
                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="">
                        <p class="m-0">تخفیف 7% : <span class="line-price text-danger">50000 تومان</span></p>
                        <p>قیمت : <span class="text-success">46500 تومان</span></p>
                        <a href="#" class="btn btn-primary">افزودن به سبد خرید</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card " style="width: 18rem;">
                <div class="over-Hide">
                    <img src="./images/test.jpg" class="card-img-top animateImage" alt="Image not found">
                </div>
                <div class="card-body">
                    <h6 class="card-title">انجیر خشک </h6>
                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="">
                        <p class="m-0">تخفیف 7% : <span class="line-price text-danger">50000 تومان</span></p>
                        <p>قیمت : <span class="text-success">46500 تومان</span></p>
                        <a href="#" class="btn btn-primary">افزودن به سبد خرید</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card " style="width: 18rem;">
                <div class="over-Hide">
                    <img src="./images/test.jpg" class="card-img-top animateImage" alt="Image not found">
                </div>
                <div class="card-body">
                    <h6 class="card-title">انجیر خشک </h6>
                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="">
                        <p class="m-0">تخفیف 7% : <span class="line-price text-danger">50000 تومان</span></p>
                        <p>قیمت : <span class="text-success">46500 تومان</span></p>
                        <a href="#" class="btn btn-primary">افزودن به سبد خرید</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card " style="width: 18rem;">
                <div class="over-Hide">
                    <img src="./images/test.jpg" class="card-img-top animateImage" alt="Image not found">
                </div>
                <div class="card-body">
                    <h6 class="card-title">انجیر خشک </h6>
                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="">
                        <p class="m-0">تخفیف 7% : <span class="line-price text-danger">50000 تومان</span></p>
                        <p>قیمت : <span class="text-success">46500 تومان</span></p>
                        <a href="#" class="btn btn-primary">افزودن به سبد خرید</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



{% endblock %}