{% load static %}

<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a href="#" class="navbar-brand">logo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"> <a class="nav-link" href="{% url 'index' %}">صفحه اصلی</a> </li>
                            {% if homepageshow == 0 %}
                            <li class="nav-item"> <a class="nav-link" href="#features">مشخصات</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#gallery">گالری</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#contact">ارتباط با ما</a> </li>
                            {% endif %}
                            <li class="nav-item"> <a class="nav-link" href="{% url 'store' %}">فروشگاه</a> </li>

                        </ul>
                    </div>
                    <a href="" class="mx-3 position-relative">

                        <span class="badge bg-light badgePos position-absolute">5</span>

                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="45" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">

                                <path
                                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />

                            </svg>
                    </a>
                    <div class=" justify-content-center">
                        {% if user.is_authenticated %}

                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>

                        سلام&nbsp;{{ user.first_name }}


                        <a class="btn btn-outline-light" href="javascript:{document.getElementById('logout').submit()}">
                            <strong><span class="fas fa-user-circle"></span>&nbsp;خروج</strong>
                        </a>

                        {% else %} <a class="btn btn-outline-light" href="{% url 'login' %}">ورود</a>
                        <a class="btn btn-outline-light" href="{% url 'register' %}">ثبت نام</a> {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>